@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body{
    margin:0;
    padding:0;
    background-color: rgb(214, 214, 214);
}
html{
    display: grid;
    min-height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.sidebar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 6fr;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: larger;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
}


.roboto-sidebar {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

img{
    background-color: white;
    border-radius: 10px;
    width:15px;
    height:15px;
}
.dashboard{
    font-size:25px;

}
.dashboard>img{
    border-radius: 10px;
    width: 20px;
    height: 20px;
}
.first-option>div{
margin:10px 0;
}

.second-option>div{
    margin:10px 0;
}
.search{
    display: grid;
    align-items:center;
    box-sizing: border-box;
    background-color: white;
    padding:20px 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}



.search-bar>img{
    position: relative;
    top: 50%;
    width:20px;
    height: 20px;}

.search-bar{
    margin-left: 50px;
    display: flex;
}
input{
    height: 20px;
    width: 500px;
    border-radius: 20px;
    background-color: rgb(185, 185, 185,0.4);
    border:none;
    
}
.icons{
    grid-column: 2/3;
    display: flex;
    justify-self: end;
    margin-right: 50px;
}
.projects-announcements-section{
    
}
.icons>img{
    width: 30px;
    height: 30px;
}
.icons>img+img {
    width: 30px;
    height: 30px;
    padding-left: 25px;
}
.icons>div{
    display: grid;
    align-items: center;
    font-weight: 900;
    padding-left: 25px;
    font-family: "Roboto", sans-serif;
}

.greeting-section{
    grid-row: 2/3;
    margin-left: 50px;
}

.content{
    
}